@media all {
.wrapping-col > .margins-5,
.wrapping-col > .afScrollPanel > .margins-5 {  margin-left:10%;
  margin-right:10%;
}

.wrapping-col > .margins-5,
.wrapping-col > .afScrollPanel > .margins-5 {  margin-left:10%;
  margin-right:10%;
}

.margins-5 {  margin-top:5%;
  margin-bottom:5%;
}

}

