.gldp-flatwhite {
	position: absolute;
	font-family: 'helvetica';
    /*background-color: white;
    border-radius: 20px;*/
}


/*outer border*/
.outerBorder {
	 border-style: ridge;
	border-width: 1;
	border-radius: 10px;
}
/* Core style for every cell */
.gldp-flatwhite .core {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #222;
	background: #ffffff;
}

/* Cell border */
.gldp-flatwhite .border {
	border-style: solid;
	border-width: 0;
	border-color: #ffffff;
}

/* Month/Year text and select */
.gldp-flatwhite .monyear,
.gldp-flatwhite .monyear select {
    color:#d3d3d3;
	font-size: 16px !important;
	font-weight: bold;
	background: #fff;
    padding-top: 4%;
}

/* Month/Year text */
.gldp-flatwhite .monyear span {
	margin: 0 5px 0 5px;
}

/* Prev/Next arrows */
.gldp-flatwhite .prev-arrow,
.gldp-flatwhite .next-arrow {
	color: #d3d3d3;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

.gldp-flatwhite .prev-arrow:active,
.gldp-flatwhite .next-arrow:active {
	color: #000;
}

.gldp-flatwhite .prev-arrow-off,
.gldp-flatwhite .next-arrow-off {
	color: #000;
	opacity: 0.15;
}

/* Days of the week */
.gldp-flatwhite .dow {
	color: #00f;
	font-weight: bold;
	cursor: wait !important;
	background: #fff;
}

/* Current Week */
.gldp-flatwhite .currentWeek {
	background: #eee;
}

/* Current Week left border*/
.gldp-flatwhite .cellTopPadding{
	padding-top: 4%;
}

/* Current Week left border*/
.gldp-flatwhite .currentWeekLeft{
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Current Week right border*/
.gldp-flatwhite .currentWeekRight {
	  border-top-right-radius: 20px;
	  border-bottom-right-radius: 20px;
}

/* Weekdays */
.gldp-flatwhite .mon,
.gldp-flatwhite .tue,
.gldp-flatwhite .wed,
.gldp-flatwhite .thu,
.gldp-flatwhite .fri {
	font-weight: bold;
}

/* Weekend days */
.gldp-flatwhite .sat,
.gldp-flatwhite .sun {
	color: #ff0;
	font-weight: bold;
}

/* Selectable days that are outside of current month being shown */
.gldp-flatwhite .outday {
	color: #aaa !important;
}

/* Hover */
.gldp-flatwhite .mon:hover,
.gldp-flatwhite .tue:hover,
.gldp-flatwhite .wed:hover,
.gldp-flatwhite .thu:hover,
.gldp-flatwhite .fri:hover,
.gldp-flatwhite .sat:hover,
.gldp-flatwhite .sun:hover {
	background: #eee;
}

/* Non-Selectable days */
.gldp-flatwhite .noday {
	color: #bbb;
	font-weight: normal;
	cursor: wait !important;
	background: #ddd;
}

/* Currently selected day */
.gldp-flatwhite .selected {
	color: #000;
	font-weight: bold;
	border-color: #fff;
	background: #eee;
	text-decoration: underline;
}

/* Today */
.gldp-flatwhite .today {
	color: #000;
	font-weight: bold;
	border-color: #fff;
	background: #fff;
	text-decoration: underline;
}

/* Special */
.gldp-flatwhite .special {
	color: #fff;
	font-weight: bold;
	border-color: #444;
	background: #666;
}

/* absent */
.gldp-flatwhite .absent {
	color: #f00;
	font-weight: bold;
}

/* present */
.gldp-flatwhite .present {
	color: #0f0;
	font-weight: bold;
}

/* holiday */
.gldp-flatwhite .holiday {
	color: #ff0;
	font-weight: bold;
}

/* event */
.gldp-flatwhite .event {
	color: #00f;
	font-weight: bold;

}


